body {
    background-color:lightblue;
}



div.vloot1 {
    float: left;
}

img {
    margin: 20px;
    border: 2px solid black;
}

div.vloot2 {
    float:right;
    position: fixed;
    top: 200px;
}



img.fixed {
    position: fixed;
}

.clearfix {
    overflow: auto;
  }